{% extends 'base.html.twig' %}

{%block main%}
  <div class="container mx-auto mt-10">
    <div class="bg-white p-6 rounded shadow-md">
      <div class="flex justify-between mb-4">
        <h2 class="text-xl font-semibold">Liste des clients</h2>
        <a id="" name="" class="border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white font-medium rounded-md px-4 py-2" href="{{path('clients.store')}}" role="button">Create</a>
      </div>
      {{form_start(formSearch, {'attr' :{ 
        'class' : 'relative mb-4'
      }})}}
        <div class = 'mb-2' text-red-500>
          {{form_errors(formSearch.phone)}}
        </div>
        {{form_widget(formSearch.phone, {'attr' : {
          'class' : 'border w-80 px-4 py-2 rounded'
        } })}}
        {{form_widget(formSearch.Search)}}
      {{form_end(formSearch)}}

      <table class="w-full border-collapse border border-gray-300 rounded">
        <thead>
          <tr class="bg-gray-200">
            <th class="border px-4 py-2">#</th>
            <th class="border px-4 py-2">Nom</th>
            <th class="border px-4 py-2">Prenom</th>
            <th class="border px-4 py-2">Surname</th>
            <th class="border px-4 py-2">Téléphone</th>
            <th class="border px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {%for client in datas %}
            <tr class="hover:bg-gray-100">
              <td class="border px-4 py-2 flex items-center">
                <img src="{{asset('image/avatar.png')}}" alt="avatar" class="rounded-full mr-2 w-20" />
              </td>
              <td class="border px-4 py-2">
                {%if client.users%}
                  {{client.users.nom}}
                {%endif%}
                </td>
              <td class="border px-4 py-2">
                {%if client.users%}
                  {{client.users.prenom}}
                {%endif%}
              </td>
              <td class="border px-4 py-2">
                {{client.surname}}
              </td>
              <td class="border px-4 py-2">
                {{client.phone}}
              </td>
              <td class="border px-4 py-2 space-x-2">
                  <a id="" name="" class="border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white font-medium rounded-md px-4 py-2" href="" role="button">Dettes</a>
                  <a id="" name="" class="border border-red-800 text-gray-800 hover:bg-red-800 hover:text-white font-medium rounded-md px-4 py-2" href="" role="button">Delete</a>
              </td>
            </tr>
          {%endfor%}
        </tbody>
      </table>

      <nav aria-label="Page navigation" class="flex justify-end">
        <ul class="flex space-x-2">
          <!-- Disabled previous button -->
          <li class="page-item disabled">
              <a class="page-link pointer-events-none opacity-50" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          {% for i in 1..maxPage %}
              <li class="page-item {{ i == page ? 'bg-blue-500 text-white' : '' }}">
                  <a class="rounded px-3 py-1 {{ i == page ? '' : 'hover:bg-gray-200' }}" href="?page={{ i }}" aria-current="page">
                      {{ i }}
                  </a>
              </li>
          {% endfor %}

          <!-- Next button -->
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{%endblock%}