{% extends 'base.html.twig' %}

{%block main%}
      <div class="container mx-auto mt-10">
    <div class="bg-white p-6 rounded shadow-md">
      <div class="flex justify-between mb-4">
        <h2 class="text-xl font-semibold">Liste des clients</h2>
        <a id="" name="" class="border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white font-medium rounded-md px-4 py-2" href="{{path('clients.store')}}" role="button">Creat</a>
      </div>

      <div class="relative mb-4">
        <input type="text" placeholder="Téléphone" class="border w-80 px-4 py-2 rounded" />
        <button class="absolute ml-12  bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Search</button>
      </div>

      <table class="w-full border-collapse border border-gray-300 rounded">
        <thead>
          <tr class="bg-gray-200">
            <th class="border px-4 py-2">#</th>
            <th class="border px-4 py-2">Nom</th>
            <th class="border px-4 py-2">Prenom</th>
            <th class="border px-4 py-2">Surname</th>
            <th class="border px-4 py-2">Téléphone</th>
            <th class="border px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {%for client in datas %}
            <tr class="hover:bg-gray-100">
              <td class="border px-4 py-2 flex items-center">
                <img src="{{asset('image/avatar.png')}}" alt="avatar" class="rounded-full mr-2 w-20" />
              </td>
              <td class="border px-4 py-2">{{client.user.nom}}</td>
              <td class="border px-4 py-2">{{client.user.prenom}}</td>
              <td class="border px-4 py-2">{{client.surname}}</td>
              <td class="border px-4 py-2">{{client.phone}}</td>
              <td class="border px-4 py-2 space-x-2">
                  <a id="" name="" class="border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white font-medium rounded-md px-4 py-2" href="" role="button">Detail</a>
                  <a id="" name="" class="border border-red-800 text-gray-800 hover:bg-red-800 hover:text-white font-medium rounded-md px-4 py-2" href="" role="button">Delete</a>
              </td>
            </tr>
          {%endfor%}
        </tbody>
      </table>

      <div class="flex justify-between items-center mt-4">
        <div class="text-gray-600">Page 1 of 3</div>
        <div class="space-x-1">
          <button class="px-3 py-1 border rounded">«</button>
          <button class="px-3 py-1 border rounded bg-blue-500 text-white">1</button>
          <button class="px-3 py-1 border rounded">2</button>
          <button class="px-3 py-1 border rounded">3</button>
          <button class="px-3 py-1 border rounded">»</button>
        </div>
      </div>
    </div>
  </div>
{%endblock%}